@media (min-width: 1920px) {
    .navbar{
        max-width: 1920px;
        margin: auto;
        padding: 0 70px;
    }
    .menusContainer {
        display: flex;
        width: 100%;
        max-width: 1920px;
        margin: auto;
        position: fixed;
        left: 0;
        right: 0;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    
}
@media (max-width: 992px) {
    
}
@media (max-width: 767px) {
    
}
@media (max-width: 601px){
    
}
@media (max-width: 375px){
    
    
}
@media (max-width: 350px){

}




/* Search Code */

@media screen and (max-width: 768px) {
    .search {
      width: 100%;
      position: absolute;
      left: 0;
      height: 100%;
      top: 0;
    }
    .search input {
      height: 0;
      top: 80px;
      background: gray;
      width: 100%;
      padding: 0 20px;
      top: -80px;
      z-index: -1;
      width: 100%;
    }
    .search button.open-search {
      right: 20px;
    }
    .search button.close-search {
      right: 20px;
      top: 0px;
      z-index: -1;
    }
}
@media screen and (min-width: 768px) {
    .search input {
      padding: 0;
      width: 0;
      border-bottom: 1px solid #313048;
      right: 0;
    }
    .search button {
      right: 0;
      transition: all 0.3s ease-in-out;
    }
    .search button.open-search {
      right: 0px;
    }
    .search button.close-search {
      right: 0;
    }
}
@media screen and (max-width: 768px) {
    .search.active input {
      height: 60px;
      background: #cecece;
      left: 0;
      right: 0;
      width: 100%;
      top: 80px;
      z-index: -1;
      box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4);
    }
    .search.active button.open-search {
      pointer-events: none;
    }
    .search.active button.close-search {
      opacity: 1;
      visibility: visible;
      top: 85px;
    }
}
@media screen and (min-width: 768px) {
    .search.active input {
      width: 250px;
    }
    .search.active button.open-search {
      right: 265px;
      pointer-events: none;
    }
    .search.active button.close-search {
      right: 0;
      opacity: 1;
      visibility: visible;
    }
}

/* Slick Slider */

@media screen and (max-width : 991px) {

	.slick-banner-slider .slider.slider-for,
	.slick-banner-slider .slider.slider-nav {
	    max-width: 100%;
	    float: none;
	}
	.slick-banner-slider .slider.slider-for {
		padding-right: 0;
	}
	.slick-banner-slider .slider.slider-nav {
		height: auto;
	}
	.slick-slider-banner-image {
	    height: 500px;
	} 
	.slider.slider-nav.thumb-image {
        padding: 10px 30px 0;
	}
	.slider-nav .slick-slide span {
		padding: 5px 0;
	}
	.slick-arrow {
		padding: 0;
	    width: 30px;
	    height: 30px;
	    top: 50%;
	    bottom: 0;
	    -webkit-transform: translateY(-50%) rotate(-90deg);
	    -moz-transform: translateY(-50%) rotate(-90deg);
	    -ms-transform: translateY(-50%) rotate(-90deg);
	    transform: translateY(-50%) rotate(-90deg);
	}
	.slick-prev {
	    left: 0;
	    right: unset;
	}
	.slick-next {
	    left: unset;
	    right: 0;
   		background-color: transparent;
	}
	.vehicle-detail-banner .car-slider-desc {
    	max-width: 340px;
	}
	.bid-tag {
    	padding: 10px 0 15px;
	}
	.slider.slider-nav.thumb-image {
	   white-space: nowrap;
	}
	.thumbnail-image.slick-slide {
		padding: 0px 5px;
		min-width: 75px;
		display: inline-block;
		float: none;
	}
}

@media screen and (max-width : 767px) {
	.slick-slider-banner-image {
	    height: 400px;
	}
	.slider.slider-nav.thumb-image {
    	padding: 0px 20px 0;
    	margin: 10px 0px 0;
	}
	.slider-nav .slick-slide.thumbnail-image .thumbImg {
		max-width: 140px;
		height: 80px;
	}
	.slick-prev.slick-arrow {
    	background-position: center 10px;
	}
	.slick-next.slick-arrow {
    	background-position: center 10px, center;
	}
	.slider-nav .slick-slide span {
	    font-size: 12px;
	    white-space: normal;
	}
}

@media screen and (max-width: 580px) {
	.slick-slider-banner-image {
	    height:340px;
	}
}

@media screen and (max-width : 480px) {
	.slick-slider-banner-image {
	    height:280px;
	}
}
/* Slick Slider */